{% load static from staticfiles %}

<html >
<head>
    <meta charset="UTF-8">

    <title>shopdrive</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="favicon" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/my.css' %}"/>
</head>
<body>
{% include 'shop/includes/header.html' %}
    <div class="row">
        {% for item in goods %}
        <div class="col-md-3">
            <p class="text-warning">
            {{ item }}
            </p>
        </div>
        <div class="col-md-3">
            <input type="number" placeholder={{item.count}}/>
        </div>
        {% endfor %}
    </div>
</body>
</html>