{% extends "shop/index.html" %}
{% load static from staticfiles %}
{% block title%} - Товари {% endblock title%}
{% block content %}
    <div class="row">
        {% if login == False %}
            {% for item in goods %}
            <div class="col-md-3">
                <p>
                {{ item }}
                </p>
            </div>
            <div class="col-md-3">
                <input type="number"  placeholder=0 disabled />
            </div>
            {% endfor %}
        {% else %}
            {% for item in goods %}
                <div class="col-md-3">
                  <label for="{{item.pk}}">
                    <p>
                    {{ item }}<br/>
                    Ціна - {{ item.price }}<br/>
                    Дата вжитку - {{item.end_date}}
                    </p>
                  </label>
                </div>
            <div class="col-md-3">
                <input type="number" name="{{item.pk}}" id="{{item.pk}}" placeholder='0' />
            </div>
            {% endfor %}

        {% endif %}

    </div>
{% endblock content%}