{% load static from staticfiles %}

<html>
<head>
    <meta charset="UTF-8">

    <title>shopdrive {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="icon" type='image/x-icon' href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/my.css' %}"/>

</head>
<body>
{% include 'shop/includes/header.html' %}
{% block content%}
    <div class="row">
        <div class="col-md-5">
            <img src="{% static 'image/home.jpg' %}"/>

        </div>
        <div class="col-md-5">

            <div class="homebackground">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="col-md-2">
            {% include 'shop/includes/form.html' %}
            {% if content %}
            <div class="alert alert-danger" role="alert">
                {{ content }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock content%}
</body>
</html>