{% extends 'shop/index.html' %}
{% load static from staticfiles %}
{% block title %} - {{user.last_name}} {{user.first_name}} {% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        {% include 'shop/includes/personalinfo.html' %}
    </div>
    <div class="col-md-8">
        <h3>Ваші замовлення</h3>
        <div class="bills">
            {% if bills %}

            {% for item in bills %}

            <ul class="list-group-item billsitem">


                    <li class=" d-flex justify-content-between align-items-center">
                    <div class="col-md-7">
                        Номер Чеку {{item.check_id}}<br/>
                        Вартість {{item.total_price}}<br/>
                        Cтворено {{item.created}}<br/>
                        Оновлено {{item.updated}}<br/>
                        Очікувана дата прибуття
                        <span class="badge badge-primary badge-pill">{{item.expected_date}}</span>
                    </div>
                         <div class="col-md-2">
                    <a href="#">
                        <button class="btn btn-warning">Редагувати Чек</button>
                    </a>
                </div>
                <div class="col-md-2">

                    <a href="/deletebill/{{ item.pk }}">
                        <button class="btn btn-danger">Видалити Чек</button>
                    </a>
                </div>
                    </li>


            </ul>


            {% endfor %}
        </div>
        {% else %}
        <p> Ще не має чеків але, це можна виправити)</p>
        {% endif %}
    </div>
</div>
{% endblock content %}