{% extends 'shop/index.html' %}
{% load static from staticfiles %}
{% block title %} - {{user.last_name}} {{user.first_name}} {% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-4">
        <h3>Особиста Інформація</h3>
            <div class="homebackground">
            <p>Прізвище {{user.last_name}}</p>
            <p>Ім'я {{user.first_name}}</p>
            <p>Email {{user.email}}</p>
            </div>
        <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">Вийти</button></a>
    </div>
    <div class="col-md-4">
        <h3>Ваші замовлення</h3>
        <div class="bills">
            {% if bills %}
                <ul class="list group">
                     {% for item in bills %}
                       <li li class="list-group-item d-flex justify-content-between align-items-center">

                        Номер Чеку {{item.check_id}}
                        Вартість {{item.total_price}}
                        Cтворено {{item.created}}
                        Оновлено {{item.updated}}
                        <span class="badge badge-primary badge-pill">{{item.expected_date}}</span>
                    {% endfor %}
                </ul>
            {% else %}
            <p> Ще не має чеків але, це можна виправити)</p>
            {% endif %}

        </div>
    </div>
    <div class="col-md-4">
    </div>
</div>
{% endblock content %}